.bg-primary {
    background-color: #6D1B1B !important;
}

.bg-secondary {
    background-color: #FFF3E0 !important;
}

.btn-primary{
    background-color: #6D1B1B !important;
    color: #FFC107;
}

.row{
    background-color: #FFF3E0;
}

h1 {
    color: #FFC107;
}

h2 {
    color: #212121;
}
