<!DOCTYPE html>
<html>

<head>
    <title> Nueva receta </title>
    <!--Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--CSS Styles-->
    <link type="text/css" rel="stylesheet" href="/Styles.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Questrial&display=swap" rel="stylesheet">
</head> 

<body>
    <header>
        <div class="bg-primary p-3 text-center"> 
            <h1 class="headerFont"> MAESTROS DE LA COCINA </h1>
        </div>
    </header>

    <div class="container-fluid text-center">
        <div class="row-1 p-3">
            <h1> Nueva receta </h1>
        </div>

        <form role="form" method="post" action="NewItem" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name"><strong> Nombre: </strong></label>
                <input type="text" name="name" class="form-control" id="Name" placeholder="Nombre de la receta..." required>
            </div>

            <div class="form-group row justify-content-center">
                <label for="Dish"><strong> Tipo de plato: </strong></label>
                <select class="form-select justify-content-center" name="dish" id="Dish" required>
                    <option value="" disabled selected> Tipo de plato... </option>
                    <option value="Starter"> Guarnicion. </option>
                    <option value="Side"> Primer plato. </option>
                    <option value="Main"> Segundo plato. </option>
                    <option value="Dessert"> Postre. </option>
                </select>
            </div>

            <div class="form-group">
                <label for="Difficulty"><strong> Dificultad: </strong></label>
                <label><input type="radio" id="Difficulty" name="difficulty" value="Easy" required> Fácil. </label>
                <label><input type="radio" id="Difficulty" name="difficulty" value="Medium"> Medio. </label>
                <label><input type="radio" id="Difficulty" name="difficulty" value="Hard"> Difícil. </label>
            </div>

            <div class="form-group">
                <label for="Length"><strong> Duración: </strong></laber>
                <select class="form-select justify-content-center" name="lenght" id="Lenght" required>
                        <option value="" disabled selected> Duración... </option>
                        <option value="5min"> 5 min </option>
                        <option value="15min"> 15 min </option>
                        <option value="30min"> 30 min </option>
                        <option value="45min"> 45 min </option>
                        <option value="1h"> 1 h </option>
                        <option value="2h"> 2 h </option>
                        <option value="3h"> 3 h </option>
                        <option value="+3h"> +3 h </option>
                </select>
            </div>

            <div class="form-group">
                <label for="Description"><strong> Descripción: </strong></label>
                <textarea class="form-control" name="description" id="Description" rows="3"></textarea>
            </div>

            <div class="row">
                <label for="Allergens"><strong> Alérgenos: </strong></label>
                <div class="col">
                    <label><input type="checkbox" name="allergens" value="Gluten"> Gluten. </label><br>
                    <label><input type="checkbox" name="allergens" value="Crustacean"> Crustáceos. </label><br>
                    <label><input type="checkbox" name="allergens" value="Eggs"> Huevo. </label><br>
                    <label><input type="checkbox" name="allergens" value="Fish"> Pescado. </label><br>
                    <label><input type="checkbox" name="allergens" value="Peanuts"> Cacahuetes. </label><br>
                    <label><input type="checkbox" name="allergens" value="Soya"> Soja. </label><br>
                    <label><input type="checkbox" name="allergens" value="Dairy"> Lacteos. </label><br>
                </div>

                <div class="col">
                    <label><input type="checkbox" name="allergens" value="Nuts"> Frutos con cáscara. </label><br>
                    <label><input type="checkbox" name="allergens" value="Celery"> Apio. </label><br>
                    <label><input type="checkbox" name="allergens" value="Mustard"> Mostaza. </label><br>
                    <label><input type="checkbox" name="allergens" value="Sesame"> Sésamo. </label><br>
                    <label><input type="checkbox" name="allergens" value="Sulfites"> Sulfitos. </label><br>
                    <label><input type="checkbox" name="allergens" value="Lupin"> Altramuces. </label><br>
                    <label><input type="checkbox" name="allergens" value="Mollusk"> Moluscos. </label><br>
                </div>
            </div>

            <div class="form-group">
                <label for="Steps"><strong> Pasos de preparacion: </strong></label>
                <textarea class="form-control" name="steps" id="Steps" rows="3" required></textarea>
            </div>

            <div class="form-group">
                <label for="Images"><strong> Imagen: </strong></label>
                <input class="form-control" name="image" id="Images" type="file" accept="image/*" required>
            </div>

            <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-floppy"></i> Guardar </button> 
                <a href="/MainPage.html/1" class="btn btn-primary" role="button"> <i class="bi bi-box-arrow-left"></i> Cancelar </a>
            </div>
         </form>
    </div>

    <footer>
        <div class="bg-primary p-3">
            <div class="row p-3">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <h4 class="fw-bold"> Maestros de la cocina </h4>
                    <p> Tu fuente de inspiración con recetas fáciles, rápidas y llenas de sabor. </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <h4 class="fw-bold"> Enlaces útiles </h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none"> Sobre nosotros </a></li>
                        <li><a href="#" class="text-decoration-none"> Contacto </a></li>
                        <li><a href="#" class="text-decoration-none"> Política de privacidad </a></li>
                        <li><a href="#" class="text-decoration-none"> Aviso legal </a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class="fw-bold"> Síguenos </h4>
                    <ul class="list-unstyled d-flex justify-content-center gap-3">
                        <li><a href="#" class="fs-4"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#" class="fs-4"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#" class="fs-4"><i class="bi bi-youtube"></i></a></li>
                        <li><a href="#" class="fs-4"><i class="bi bi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

            <hr>

            <div>
                <p class="mb-0"><i class="bi bi-c-circle"></i> 2025. Maestros de la cocina. Todos los derechos reservados. </p>
            </div>
        </div>
    </footer>
</body>
</html>
