<!DOCTYPE html>
<html>

<head>
    <title> Confirmación </title>
    <!--Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--CSS Styles-->
    <link type="text/css" rel="stylesheet" href="/Styles.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Questrial&display=swap" rel="stylesheet">
</head> 

<body>
    
    {{>Header}}

    <div class="container-fluid  d-flex flex-column ">
        <div class="row p-3">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center"><p> Los cambios se han guardado correctamente.</p></div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
                {{#recipe}}
                    <a href="/DetailPage.html/{{recipe._id}}" class="btn btn-primary" role="button"> Ver la receta </a> 
                {{/recipe}}
                <a href="/MainPage.html/1" class="btn btn-primary" role="button"> Volver </a>    
            </div>
        </div>
    </div>

    {{>Footer}}

</body>
</html>